.loginandsignup {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginandsignup>form {
    min-width: 50%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}



.loginandsignup>form>input,
.loginandsignup>form>button {
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 5px;
    max-width: 100%;
}

.loginandsignup>form>input {
    border: 2px solid whitesmoke;
}

.loginandsignup>form>button {
    border: 2px solid whitesmoke;
    color: whitesmoke;
    margin-top: 10px;
    cursor: pointer;
}

.loginandsignup>form>button:hover {
    background-color: whitesmoke;
    color: #222222;
}

@media only screen and (max-width: 6425px) {
    .loginandsignup>form {
        border: none;
    }
}